@import url('https://fonts.googleapis.com/css2?family=Inter+Tight:wght@400;600&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;


html {
  font-size: 16px;
}

* {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

:root {
  --scrollbarBg: #FFCCA7;
  --scrollbarThumb: #FFE4D0;
  --scrollbarWidth: 0.5rem;
  --scrollbarBorder: 3px solid var(--scrollbarBg);
  --scrollbarBorderRadius: calc(var(--scrollbarWidth) / 2);
}

body {
  scrollbar-width: var(--scrollbarWidth);
  scrollbar-color: var(--scrollbarThumb) var(--scrollbarBg);
}

::-webkit-scrollbar {
  width: var(--scrollbarWidth);
}

body::-webkit-scrollbar-track {
  background: var(--scrollbarBg);
}

.cart-scroll::-webkit-scrollbar-track {
  background: #fff;
}

::-webkit-scrollbar-thumb {
  background-color: var(--scrollbarThumb);
  border-radius: var(--scrollbarBorderRadius);
  border: var(--scrollbarBorder);
}

.cart-scroll::-webkit-scrollbar-thumb {
  background-color: #efefef;
  border-radius: var(--scrollbarBorderRadius);
  border: 3px solid #0000;
}

body {
  margin: 0;
  background-color: #FFE4D0;
  font-family: 'Inter Tight', sans-serif;
}

button {
  outline: none;
}